@import "./_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap');
body{
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  overflow-x: hidden;
  @media(max-width:600px){
    background-color: #F0F1F2;
  }
}
header{
  position: relative;
  // min-width: 1173px;
  width: 90vw;
  & img{
    width: 100%;
  }
}
.header{
  &__textbox{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    text-orientation: upright; /* すべて縦方向に表示 */
    position: absolute;
    background-color: white;
    top: 205px;
    right: 0;
    padding:56px;
    font-size: 20px;
    color:#292929;

  }

  &__text{
    // padding-right: 25px;
    letter-spacing: 0.3em;
    line-height: 2.56;
  }

  &__logobox{
    padding:13.1px 32.7px;
    background-color: white;
    position: absolute;
    top: 69px;
    left: 0;
  }

  &__lists{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    font-weight:100 ;
    color: #292929;
  }

  &__nav{
    background: white;
    padding:33px 53px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__list{
    padding:0 21px;
    cursor: pointer;
    position: relative;

    &:hover::after{
      content:"";
      background: #004286;
      width: 80%;
      height: 1px;
      position: absolute;
      bottom: -7px;
      left: 8px;
  }
    
  }
  &__lists{
 
    display: flex;
    z-index: 22;
  }

  &__mail{
    position: absolute;
    top: 23px;
    right: -96px;
    border: 1px solid #707070;
    border-radius: 50px;
    cursor: pointer;
    @media(max-width:900px){
      display: none;
    }

    & img{
      padding: 22px 20px;
    }
    &:hover{
      box-shadow: 4px 4px #292929;
    }
  }


}

.about{

  margin:107px 68px 200px 95px;
  @media (max-width:700px){
    margin:10% 5% 10% 0;
  }
  &__flex{
    display: flex;
    align-items: center;
    @media (max-width:700px){
      display: block;
      position: relative;
    }
  }

  &__scrums{
    margin-left: 56.5px;
    width: 80%;
    @media (max-width:700px){
      position: absolute;
      left: 20px;
      background-color: white;
      z-index: 3;
      padding: 4% 11%;
      margin: 0 auto;
      top: 186px;
      width: 350px;

    }


  }

  &__pcimage{
    width: 100%;
    @media (max-width:700px){
      display: none;
    }
  }
  &__spimage{
    display: none;
    @media (max-width:700px){
      display: block;
  
    
    }
  }

  &__theme{
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    position: relative;
    @media (max-width:700px){
      justify-content: center;
    }

    &::after{
      content: "";
      position: absolute;
      width: 319px; 
      height: 1px;
      background-color: #004286;
      bottom: 0;
      left: 20px;
      @media(max-width:700px){
        width: 216px;
        left: 10px;
       
      }
    }
  }

  &__concept{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-right: 34px;
    @media (max-width:700px) {
      font-size:8px ;
      
    }
  }

  &__maintheme{
    font-size: 40px;
    @media (max-width:700px) {
      font-size:21px ;
      
    }
  }

  &__text{
    margin-top: 50px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.86;
  }
}

.service{
  margin:0 auto;
  @media(max-width:700px){
    margin:102% 0 0 0;
  }
  &__themebox{
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    position: relative;
    justify-content: center;


    &::after{
      content: "";
      position: absolute;
      width: 400px; 
      height: 1px;
      background-color: #004286;
      bottom: 0;

    }
  }

  &__service{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-right: 34px;
    @media(max-width:470px){
      font-size: 8px;
    }
  }

  &__wecan{
    font-size: 40px;
    @media(max-width:470px){
      font-size: 20px;
    }
  }

  &__flex{
    display: flex;
    justify-content: center;
    margin-top:82.5px;
    @media (max-width:1100px){
      display: block;
  
    }
  }

  &__box{
    margin-right: 47px;
    background-color: white;
    @media(max-width:1100px){
      display: flex;
      margin: 5% 0;
      & img{
        width: 50%;
      }
    }
    &:last-child{
      margin: 0;
    }
    
  }

  &__theme{
    font-size: 20px;
    padding:11px 0 11px 20.7px;
    border-left:2px solid #002869;
    margin-bottom: 32.7px;
    color:#606060;
    @media(max-width:1100px){
      display: none;
    }
  }
  &__theme-sp{
    font-size: 20px;
    padding:11px 0 11px 20.7px;
    border-left:2px solid #002869;
    margin-bottom: 32.7px;
    color:#606060;
    display: none;
    @media(max-width:1100px){
      display: block;
    }
    @media(max-width:470px){
      font-size: 13px;
    }
  }
  &__spblock{
    padding-left: 20px;
    width: 50%;
  }

  &__text{
    margin-top: 29px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    @media(max-width:470px){
      font-size: 11px;
    }
  }
}

.works{
  margin:150px 125px 0 100px;
  @media (max-width:600px){
    margin:150px 0 0 0;
    padding:100px 50px;
  }
  background-color: white;
  &__themebox{
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    position: relative;
    justify-content: center;
    margin-bottom: 70px;


    &::after{
      content: "";
      position: absolute;
      width: 400px; 
      height: 1px;
      background-color: #004286;
      bottom: 0;

    }
  }

  &__service{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-right: 34px;
    @media(max-width:470px){
      font-size: 8px;
    }
  }

  &__wecan{
    font-size: 40px;
    @media(max-width:470px){
      font-size: 20px;
    }
  }

  &__image{
    & p{
      margin-top:24px ;
      margin-left: 20px;
    }
  }
}
/*slick setting*/
// .slick{
//   position: relative;
// }
.slider{
  max-width: 687px;
  margin:0 auto;
}
.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slide-arrow{
  position: absolute;
  top: 35%;
  left: -5%;
  margin-top: -15px;
}
.prev-arrow{
  position: absolute;
  left: 102%;
}

.block {
  overflow: hidden;
  margin: 100px auto 0;
}

.slider img {
  transform: scale(0.8);
  opacity: 0.3;
  transition: 0.5s;

}

.slider .slick-center img {
  transform: scale(1.2);
  opacity: 1;
}

.text li {
  opacity: 0;
  text-align: center;
  animation-delay: 0.5s;
  animation-duration: 1.0s;
  animation-fill-mode: both;
}

 .text li.slick-active {
  animation-name: open;
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.works__margin{
  margin-right: 30px;
}

// .works__image{
//   margin-right:30px;
// }

.project{
  margin-top:50px;
  padding:50px 4.5% 0 4%;
  background-color: white;
  &__themebox{
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    position: relative;
    justify-content: center;
    margin-bottom: 70px;


    &::after{
      content: "";
      position: absolute;
      width: 400px; 
      height: 1px;
      background-color: #004286;
      bottom: 0;

    }
  }

  &__service{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-right: 34px;
    @media(max-width:470px){
      font-size: 8px;
    }
  }

  &__wecan{
    font-size: 40px;
    @media(max-width:470px){
      font-size: 20px;
    }
  }

  &__box{
    width: 20%;
    text-align: center;
    margin-right: 50px;
    margin-bottom:10%;
    @media(max-width:600px){
      width: 80%;
      text-align: center;
      margin:0 auto 10% auto;
    }
  }
  &__step{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 20px;
  }
  &__theme{
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 20px;
    position: relative;
    padding:18px 0;

    &::after{
      content: "";
      position: absolute;
      width: 100%; 
      height: 1px;
      background-color: #004286;
      bottom: 0;
      left: 0;

    }
  }
  &__text{
    font-size: 14px;
    margin-top:18px;
    text-align: left;
    line-height: 1.28;
    position: relative;

    &::after{
      content: "";
      position: absolute;
      top: 7px;
      right: -30px;
      background-image: url(../images/project.png);
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      @media(max-width:600px){
        display: none;
      }
    }
  }

  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media(max-width:600px){
      display: block;
    }
  }

  &__last::after{

    display: none;
  }
}

.member{
  background-color: white;
  margin:250px 0 0 0;
  @media(max-width:600px){
    margin: 250px 0 0 0;
    padding: 50px 10% 0 10%;
  }
  &__themebox{
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    position: relative;
    justify-content: center;
    margin-bottom: 70px;


    &::after{
      content: "";
      position: absolute;
      width: 400px; 
      height: 1px;
      background-color: #004286;
      bottom: 0;

    }
  }
  &__service{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-right: 34px;
    @media(max-width:470px){
      font-size: 8px;
    }
  }

  &__wecan{
    font-size: 40px;
    @media(max-width:470px){
      font-size: 20px;
    }
  }
  
  &__margin{
    margin-right: 20px;
    width: 275px;
  }

  &__people{
    font-size: 20px;
    padding:28px 0;
    position: relative;
  }
  &__people{
    
    &::after{
      content: "";
      position: absolute;
      width: 100%; 
      height: 1px;
      background-color: #004286;
      bottom: 0;
      left: 0;

    }
  }
  &__text{
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 14px;
    margin-top:28px;
    text-align: left;
    line-height: 1.48;
  }
}
.slick{
  max-width:830px;
  text-align: center;
  margin:0 auto;
}

.contact{
  margin:250px 0 0 0;
  background-color: white;
  @media(max-width:600px){
    margin: 250px 0 0 0;
    padding: 50px 10% 10% 10%;
  }
  &__themebox{
    display: flex;
    align-items: center;
    padding-bottom: 17px;
    position: relative;
    justify-content: center;
    margin-bottom: 70px;


    &::after{
      content: "";
      position: absolute;
      width: 400px; 
      height: 1px;
      background-color: #004286;
      bottom: 0;

    }
  }
  &__service{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    margin-right: 34px;
    @media(max-width:470px){
      font-size: 8px;
    }
  }

  &__wecan{
    font-size: 40px;
    @media(max-width:470px){
      font-size: 20px;
    }
  }

  &__wrapper{
    margin:0 auto;
    width: 46%;
    @media (max-width:600px){
      width: 80%;
    }
  }

  & dt{
    font-size: 18px;
    font-weight: normal;
    position: relative;
    margin-left:5px;
    &::before{
      content:"";
      position: absolute;
      top:0;
      left: -4px;
      width: 1px;
      height: 17.32px;
      background-color: #004286;
    }
  }
  
  & textarea{
    border:1px solid #707070;
    width: 100%;
    padding:9px 17px;
    margin:12px 0 40px;
  }
  &__input{
border:1px solid #707070;
padding:9px 17px;
width: 100%;
margin:12px 0 40px;
}
}

.submit__button{
  width: 20%;
  text-align: center;
  color:#fff;
  background-color: #004286;
  margin: 10px auto 10px;
  padding: 18px 85px 18px 57px;
  text-align: center;
  display: block;
  cursor: pointer;
  :hover{
    box-shadow: 4px 4px #292929;
  }

}

footer{
  text-align: center;
  background-color: #004286;
  padding:23px 0;
  color:white;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif; 
  font-weight: 300;

}

#goto_top {
  position: fixed;
  right: 10%;
  bottom: 10%;
  cursor: pointer;

}
#goto_top:hover{
  box-shadow: 4px 4px #292929;
}

.submit__button:hover{
  box-shadow: 4px 4px #292929;
}
#global-nav.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
  height: 80px;
  z-index: 100000;
  @media(max-width:800px){
    display: none !important;
  }
}

.fadein {
  opacity : 0;
  transform: translateY(20px);
  transition: all 1s;
}

// ここからヘッダーの改造、本当は上に書けばよかった。。。後悔

.header__sp{
  position: fixed;
  height: 50px;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  width: 100vw;
  z-index: 999999;
  display: none;
  @media(max-width:800px){
    display: block;
  }
}
.header__toggle{
// position: relative;
  margin:20px 100px;
  text-align: right;

}
.header{
  
&__text{
  @media(max-width: 1160px){

    writing-mode: horizontal-tb;
  }
}
&__textbox{
  @media(max-width: 1160px){

    writing-mode: horizontal-tb;
    padding:3%;
    font-size: 13px;
  }
}
&__nav{
  @media(max-width:800px){
    display: none;
  }
}
}

.nav_toggle{
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
  left: 90vw;
  top: -36px;

  & i {
    position: absolute;
    width:100%;
    height: 2px;
    background: #707070;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms
}

  & i:nth-child(1){

    top:0;
  }
  & i:nth-child(2){

    top:10px;
  }
}

.nav_toggle.show i:nth-child(1) {
  transform: translateY(11px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  transform: translateY(0px) rotate(45deg);
}

nav {
  position: fixed;
  top: 3rem;
  width: 80%;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  text-align: center;
  background-color: white;
  opacity: .9;
  z-index: 999999999999999;
}
.nav.show {
  visibility: visible;
}
.nav_menu_li{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight:100 ;
  color: #292929;
  cursor: pointer;
  position: relative;
  margin:20% 0;
  &:hover::after{
    content: "";
    background: #004286;
    width: 34%;
    height: 1px;
    position: absolute;
    bottom: -7px;
    left: 118px;
  }
}
