@charset "UTF-8";
/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

body {
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

@media (max-width: 600px) {
  body {
    background-color: #F0F1F2;
  }
}

.gray {
  opacity: .3;
}

.white {
  background-color: white;
}

header {
  position: relative;
  width: 90vw;
}

@media (max-width: 800px) {
  header {
    width: 100vw;
  }
}

header img {
  width: 100%;
}

.header__textbox {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  /* すべて縦方向に表示 */
  position: absolute;
  background-color: white;
  top: 205px;
  right: 0;
  padding: 56px;
  font-size: 20px;
  color: #292929;
}

.header__text {
  letter-spacing: 0.3em;
  line-height: 2.56;
}

.header__logobox {
  padding: 13.1px 32.7px;
  background-color: white;
  position: absolute;
  top: 20px;
  left: 0;
}

.header__lists {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  font-weight: 100;
  color: #292929;
}

.header__nav {
  background: white;
  padding: 33px 53px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header__list {
  padding: 0 21px;
  cursor: pointer;
  position: relative;
}

.header__list:hover::after {
  content: "";
  background: #004286;
  width: 80%;
  height: 1px;
  position: absolute;
  bottom: -7px;
  left: 8px;
}

.header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 22;
}

.header__mail {
  position: absolute;
  top: 23px;
  right: -96px;
  border: 1px solid #707070;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

@media (max-width: 900px) {
  .header__mail {
    display: none;
  }
}

.header__mail img {
  padding: 22px 20px;
}

.header__mail:hover {
  -webkit-box-shadow: 4px 4px #292929;
          box-shadow: 4px 4px #292929;
}

.about {
  margin: 107px 68px 200px 95px;
}

@media (max-width: 700px) {
  .about {
    margin: 10% 5% 10% 0;
  }
}

.about__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .about__flex {
    display: block;
    position: relative;
  }
}

.about__scrums {
  margin-left: 56.5px;
  width: 80%;
}

@media (max-width: 700px) {
  .about__scrums {
    position: absolute;
    right: -10px;
    background-color: white;
    z-index: 3;
    padding: 8% 13% 8% 11%;
    margin: 0 auto;
    top: 186px;
    width: 350px;
  }
}

.about__pcimage {
  width: 100%;
}

@media (max-width: 700px) {
  .about__pcimage {
    display: none;
  }
}

.about__spimage {
  display: none;
}

@media (max-width: 700px) {
  .about__spimage {
    display: block;
    width: 100%;
  }
}

.about__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 17px;
  position: relative;
}

@media (max-width: 700px) {
  .about__theme {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__theme::after {
  content: "";
  position: absolute;
  width: 246px;
  height: 1px;
  background-color: #004286;
  bottom: 0;
  left: 20px;
}

@media (max-width: 700px) {
  .about__theme::after {
    width: 216px;
    left: 10px;
  }
}

.about__concept {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-right: 34px;
}

@media (max-width: 700px) {
  .about__concept {
    font-size: 8px;
  }
}

.about__maintheme {
  font-size: 40px;
}

@media (max-width: 700px) {
  .about__maintheme {
    font-size: 21px;
  }
}

.about__text {
  margin-top: 50px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 14px;
  line-height: 1.86;
}

.service {
  margin: 0 auto;
}

@media (max-width: 700px) {
  .service {
    margin: 102% 0 0 0;
  }
}

.service__themebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 17px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__themebox::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background-color: #004286;
  bottom: 0;
}

.service__service {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-right: 34px;
}

@media (max-width: 470px) {
  .service__service {
    font-size: 8px;
  }
}

.service__wecan {
  font-size: 40px;
}

@media (max-width: 470px) {
  .service__wecan {
    font-size: 20px;
  }
}

.service__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 82.5px;
}

@media (max-width: 1100px) {
  .service__flex {
    display: block;
  }
}

.service__box {
  margin-right: 47px;
  background-color: white;
}

@media (max-width: 1100px) {
  .service__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5% 0;
  }
  .service__box img {
    width: 50%;
  }
}

.service__box:last-child {
  margin: 0;
}

.service__theme {
  font-size: 20px;
  padding: 11px 0 11px 20.7px;
  border-left: 2px solid #002869;
  margin-bottom: 32.7px;
  color: #606060;
}

@media (max-width: 1100px) {
  .service__theme {
    display: none;
  }
}

.service__theme-sp {
  font-size: 20px;
  padding: 11px 0 11px 20.7px;
  border-left: 4px solid #002869;
  margin-bottom: 32.7px;
  color: #606060;
  display: none;
}

@media (max-width: 1100px) {
  .service__theme-sp {
    display: block;
  }
}

@media (max-width: 470px) {
  .service__theme-sp {
    font-size: 13px;
    padding-left: 10px;
  }
}

@media (max-width: 1100px) {
  .service__spblock {
    padding-left: 20px;
    padding-top: 20px;
    width: 50%;
  }
}

.service__text {
  margin-top: 29px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 470px) {
  .service__text {
    font-size: 11px;
  }
}

.works {
  margin: 150px 100px 0 100px;
  background-color: white;
}

@media (max-width: 600px) {
  .works {
    margin: 150px 0 0 0;
    padding: 100px 50px;
  }
}

.works__themebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 17px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.works__themebox::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background-color: #004286;
  bottom: 0;
}

.works__service {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-right: 34px;
}

@media (max-width: 470px) {
  .works__service {
    font-size: 8px;
  }
}

.works__wecan {
  font-size: 40px;
}

@media (max-width: 470px) {
  .works__wecan {
    font-size: 20px;
  }
}

.works__image p {
  margin-top: 24px;
  margin-left: 20px;
}

/*slick setting*/
.slider {
  width: 57vw;
  max-width: 747px;
  margin: 0 auto;
}

@media (min-width: 375px) and (max-width: 680px) {
  .slider {
    min-width: 0;
    width: 270px;
  }
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slide-arrow {
  position: absolute;
  top: 27%;
  left: -7%;
  margin-top: -15px;
}

.prev-arrow {
  position: absolute;
  left: 103%;
}

.block {
  overflow: hidden;
  margin: 100px auto 0;
}

.slider img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider .slick-center img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.text li {
  opacity: 0;
  text-align: center;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1.0s;
          animation-duration: 1.0s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.text li.slick-active {
  -webkit-animation-name: open;
          animation-name: open;
}

@-webkit-keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.works__margin {
  margin-right: 30px;
  margin-left: 30px;
}

.project {
  margin-top: 50px;
  padding: 50px 4.5% 50px 4%;
  background-color: white;
}

.project__themebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 17px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.project__themebox::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background-color: #004286;
  bottom: 0;
}

.project__service {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-right: 34px;
}

@media (max-width: 470px) {
  .project__service {
    font-size: 8px;
  }
}

.project__wecan {
  font-size: 40px;
}

@media (max-width: 470px) {
  .project__wecan {
    font-size: 20px;
  }
}

.project__box {
  width: 20%;
  text-align: center;
  margin-right: 50px;
  margin-bottom: 10%;
}

@media (max-width: 600px) {
  .project__box {
    width: 80%;
    text-align: center;
    margin: 0 auto 10% auto;
  }
}

.project__step {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.project__theme {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 20px;
  position: relative;
  padding: 18px 0;
}

.project__theme::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #004286;
  bottom: 0;
  left: 0;
}

.project__text {
  font-size: 14px;
  margin-top: 18px;
  text-align: left;
  line-height: 1.28;
  position: relative;
}

.project__text::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -30px;
  background-image: url(../images/project.png);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

@media (max-width: 600px) {
  .project__text::after {
    display: none;
  }
}

.project__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .project__wrapper {
    display: block;
  }
}

.project__last::after {
  display: none;
}

.member {
  background-color: white;
  margin: 250px 50px 0 50px;
}

@media (max-width: 600px) {
  .member {
    margin: 250px 0 0 0;
    padding: 50px 10% 50px 10%;
  }
}

.member__themebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 17px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.member__themebox::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background-color: #004286;
  bottom: 0;
}

.member__service {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-right: 34px;
}

@media (max-width: 470px) {
  .member__service {
    font-size: 8px;
  }
}

.member__wecan {
  font-size: 40px;
}

@media (max-width: 470px) {
  .member__wecan {
    font-size: 20px;
  }
}

.member__margin {
  margin-right: 20px;
  width: 275px;
}

.member__people {
  font-size: 20px;
  padding: 28px 0;
  position: relative;
}

.member__people::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #004286;
  bottom: 0;
  left: 0;
}

.member__text {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 14px;
  margin-top: 28px;
  text-align: left;
  line-height: 1.48;
}

.slick {
  max-width: 840px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 375px) and (max-width: 680px) {
  .slick {
    width: 270px;
  }
}

@media screen and (min-width: 681px) and (max-width: 940px) {
  .slick {
    width: 580px;
  }
}

.contact {
  margin: 70px 0 0 0;
  background-color: white;
}

@media (max-width: 600px) {
  .contact {
    margin: 70px 0 0 0;
    padding: 50px 10% 10% 10%;
  }
}

.contact__themebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 17px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.contact__themebox::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background-color: #004286;
  bottom: 0;
}

.contact__service {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  font-size: 16px;
  margin-right: 34px;
}

@media (max-width: 470px) {
  .contact__service {
    font-size: 8px;
  }
}

.contact__wecan {
  font-size: 40px;
}

@media (max-width: 470px) {
  .contact__wecan {
    font-size: 20px;
  }
}

.contact__wrapper {
  margin: 0 auto;
  width: 46%;
}

@media (max-width: 600px) {
  .contact__wrapper {
    width: 80%;
  }
}

.contact dt {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  margin-left: 5px;
}

.contact dt::before {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  width: 1px;
  height: 17.32px;
  background-color: #004286;
}

.contact textarea {
  border: 1px solid #707070;
  width: 100%;
  padding: 9px 17px;
  margin: 12px 0 40px;
}

.contact__input {
  border: 1px solid #707070;
  padding: 9px 17px;
  width: 100%;
  margin: 12px 0 40px;
}

.submit__button {
  width: 20%;
  text-align: center;
  color: #fff;
  background-color: #004286;
  margin: 10px auto 10px;
  padding: 18px 85px 18px 57px;
  text-align: center;
  display: block;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.submit__button :hover {
  -webkit-box-shadow: 4px 4px #292929;
          box-shadow: 4px 4px #292929;
}

footer {
  text-align: center;
  background-color: #004286;
  padding: 23px 0;
  color: white;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-weight: 300;
}

#goto_top {
  position: fixed;
  right: 10%;
  bottom: 10%;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

#goto_top:hover {
  -webkit-box-shadow: 4px 4px #292929;
          box-shadow: 4px 4px #292929;
}

.submit__button:hover {
  -webkit-box-shadow: 4px 4px #292929;
          box-shadow: 4px 4px #292929;
}

#global-nav.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
  height: 80px;
  z-index: 100000;
}

@media (max-width: 800px) {
  #global-nav.m_fixed {
    display: none !important;
  }
}

.fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

header {
  background-color: white;
}

@media (max-width: 800px) {
  header {
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .header__pcimage {
    position: relative;
    height: 400px;
    padding-left: 30px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.header__sp {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  width: 100vw;
  z-index: 999999;
  display: none;
}

@media (max-width: 800px) {
  .header__sp {
    display: block;
  }
}

.header__toggle {
  text-align: right;
  width: 87vw;
  margin: 20px 0;
}

@media (max-width: 1160px) {
  .header__text {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
}

@media (max-width: 1160px) {
  .header__textbox {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    padding: 3%;
    font-size: 13px;
    top: 220px;
    right: 0;
  }
}

@media (max-width: 800px) {
  .header__nav {
    display: none;
  }
}

.nav_toggle {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
  left: 90vw;
  top: -36px;
  cursor: pointer;
}

.nav_toggle i {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #707070;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.nav_toggle i:nth-child(1) {
  top: 0;
}

.nav_toggle i:nth-child(2) {
  top: 10px;
}

.nav_toggle.show i:nth-child(1) {
  -webkit-transform: translateY(11px) rotate(-45deg);
          transform: translateY(11px) rotate(-45deg);
}

.nav_toggle.show i:nth-child(2) {
  -webkit-transform: translateY(0px) rotate(45deg);
          transform: translateY(0px) rotate(45deg);
}

.nav {
  position: fixed;
  top: 3rem;
  width: 80%;
  right: 0;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s, visibility .5s;
  transition: opacity .5s, visibility .5s;
  text-align: center;
  background-color: white;
  opacity: .9;
  z-index: 999999999999999;
}

.nav.show {
  visibility: visible;
}

.nav_menu_li {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #292929;
  cursor: pointer;
  position: relative;
  margin: 20% 0;
}

.nav_menu_li:hover::after {
  content: "";
  background: #004286;
  width: 10%;
  height: 1px;
  position: absolute;
  bottom: -7px;
  left: 253px;
}

.slide-arrow {
  cursor: pointer;
}

.none {
  display: none;
}
/*# sourceMappingURL=style.css.map */